<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ModelRH" connectionString="metadata=res://*/Models.ModelRH.csdl|res://*/Models.ModelRH.ssdl|res://*/Models.ModelRH.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=143.107.102.24;initial catalog=sepsystems-rh;persist security info=True;user id=sepsystems;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>